<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Games</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <h1>Top Games 2023</h1>

  <h2>Pesquisar por Nome</h2>
  <form method="post" th:action="@{./search}" id="search">
    <input type="text" name="namePart" id="search">
    <button type="submit" class="button-std">Pesquisar</button>
  </form>
  <h2>Lista Completa de Games</h2>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Desenvolvedor</th>
        <th>Distribuidora</th>
        <th>Plataformas</th>
        <th>Gênero</th>
        <th>Score</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tr th:each="game : ${games}">
      <td th:text="${game.id}"></td>
      <td th:text="${game.name}"></td>
      <td th:text="${game.developer}"></td>
      <td th:text="${game.publisher}"></td>
      <td th:text="${game.platforms}"></td>
      <td th:text="${game.genre}"></td>
      <td th:text="${game.score}"></td>
      <td>
        <form method="post" th:action="@{./games/delete/{id}(id=${game.id})}">
          <button type="submit" id="excluir">Excluir</button>
        </form>
      </td>
    </tr>
  </table>
  <br>
<button class="button-std"><a href="add-game">Novo Game</a></button>
</body>
</html>